.calendar-container-page {
    padding: 20px;
    position: relative;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px; /* Променено от right на left */
    background-color: transparent; /* Премахнат фон */
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em; /* Увеличен размер на емотиконата */
    color: #888; /* Сив цвят */
    transition: color 0.3s ease;
    z-index: 10; /* Уверяваме се, че е над календара */
}

.home-button:hover {
    color: #555; /* По-тъмно сиво при ховър */
}

.calendar-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
